#game-over {
  position: absolute;
  top: 70px;
  left: 235px;
  text-align: center;
  background-color: white;
  padding: 8px 45px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#game-over h1 {
  color: #607D8B;
}

#game-over p {
  color: #E4768A;
}

#play-again {
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #607D8B;
  font-size: 13px;
}